{% extends "blog/base.html" %}
{% load static %} 

{% block content %}
    <div class="col-sm-10">
        <h3 class="text-white my-5">About Page</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dignissimos quidem tenetur nemo ullam deleniti eaque, dolores non eum aliquam laudantium fuga optio cupiditate perspiciatis illum ea consequuntur dolorum quod!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit itaque sunt consequuntur blanditiis dolorem. Illum quas soluta debitis tempora exercitationem omnis nisi labore earum minus sequi eveniet, minima perferendis velit?</p>
        
    </div>

{% endblock content %}